<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7eca3c6bcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300&display=swap"
          rel="stylesheet">
</head>

<body>









<header>
    <div class="name">
        <div>
            Amit Ginat
        </div>
    </div>
    <div class="logo">
        Youtube Downloader
        <div class="grid">

        </div>
    </div>
    <div class="icons">
        <div class="ic1"><i class="fa-brands fa-github fa-fw" ><a href=""></a></i></div>
        <div class="ic2"><i class="fa-brands fa-discord fa-fw"></i></div>

    </div>
</header>

<form action="/" method="post">
    <div class="box">
        <div class="content">

            <div class="link">
                <div class="enter">
                    <label for="link-input" id="enter-label">Enter Link:</label> <br>
                    <input type="text" name="link" id="link-input">
                </div>
            </div>



            <div class="buttons">
                <select name="select" id="id_select" multiple="multiple">
                    <option value="audio" name="audio">Audio</option>
                    <option value="video" name="video">Video</option>
                </select>
            </div>

            <div class="download">
                <input type="submit" value="Download">
            </div>

        </div>
    </div>

</form>

</body>

</html>